.vehicleTypeContainer {
    display: flex;
    gap: 10px;
}

.vehicleTypeContainer p {
    margin: 0;
}

.label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    width: 100px;
    height: 95px;
    transition: background-color 0.3s, border-color 0.3s;
}

.vehicleTypeContainer input[type="radio"] {
    display: none;
}

.vehicleTypeContainer img {
    width: 32px;
    height: 60px;
    margin: 0 auto;
}

.selected {
    border: 1px solid #e44848;
}

.vehicleTypeContainer p {
    text-align: center;
}