.camperItem {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 840px;
  gap: 24px;
}

.camperImage {
  width: 290px;
  height: 310px;
  object-fit: cover;
  border-radius: 8px;
}

.camperInfo {
  display: flex;
  flex-direction: column;
  width: 526px;
}

.camperHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.camperName {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
}

.camperPrice {
  flex-grow: 1;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.25;
  color: #101828;
}

.camperWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.camperFavorite {
  margin-right: auto;
}

.camperLocation,
.camperRating {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.camperDescription {
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-bottom: 24px;
}

.camperFeatures {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 24px;
}

.camperFeaturesItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;

  border-radius: 100px;
  padding: 12px 18px;
  background: #f2f4f7;
}

.camperFeatures p {
  flex: 1 1 auto;
  margin-bottom: 0;
  font-size: 14px;
  color: #777;
}

.showMore {
  padding: 10px 15px;
  border-radius: 200px;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s;
}

.showMore:hover {
  background-color: #ff4500;
}