.container {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.camperListContainer {}

.camperList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.camperListItem {
    margin-bottom: 20px;
}