.equipmentList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 32px;
}

.equipmentListTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin-bottom: 24px;
}

.equipmentItem {
    padding: 17px 18px;
    width: 112px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.equipmentItem img {
    width: 32px;
    height: 60px;
}

.equipmentItem:hover {
    background-color: #f0f0f0;
}

.selected {
    border-color: #e44848;
    background-color: #ffe5e5;
}